body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url('./assets/bg-blurred.jpg');
  background-repeat: no-repeat;
	background-size: cover;
}

main {
  padding: 1rem 0;
  background: #fff;
  height: 100%;
}

.preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
}

.loader {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -13px;
	margin-left: -13px;
}

.city-name {
  white-space: nowrap;
}

.error-message {
  text-align: center;
  color: #b31c1c;
}