.table th {
  text-align: center;
}

.table img {
  margin-right: 10px;
}

.section-home-team {
  text-align: right;
}

.line {
  background: #c12133;
  color: #fff;
}

.list-group-item {
  font-size: 12px;
  text-align: left;
}

.list-group-item img {
  margin: 0 10px;
}